/* TreeBurst.less */
/* Colour vars */
/* Mixins*/
body {
  background-color: #111111;
  font-family: 'Segoe UI', Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2em;
  color: #fff;
  font-weight: normal;
  padding: 1em;
}
.tbContainer {
  position: absolute;
  width: 90%;
  height: 85%;
  margin: 0 5%;
  border: 1px solid #ccc;
}
