/* TreeBurst.less */

/* Colour vars */
@bg: #111;
@canvasbg: #222;
@grey: #ccc;
.greyBorder {
    border: 1px solid #ccc;
}

/* Mixins*/

body {
    background-color: @bg;
    font-family: 'Segoe UI', Verdana, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    color: #fff;
    font-weight: normal;
    padding: 1em;
}

#treeDataSelector {

    font-weight: normal;
    margin: 0 0 2em 3em;

}

.tbContainer {
    position: relative;
    width: 90%;
    height: 85%;
    margin: 0 5%;
    .greyBorder;
}

canvas {
    position: relative;
    background-color: @canvasbg;
    border-left: 1px solid @grey;
    border-right: 1px solid @grey;
}
